@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Prompt&display=swap');


*{
    font-family: 'Poppins' !important;
}

.logo{
    width: 150px;
    height: auto;
    position: fixed;
    top: 2em;
    left: 2em;
}

.formStyle{
    width: 425px;
}

.inputStyle {
    background-color: #F5F5F5;
    border-radius: 5px;
    border: none;
}

.inputStyle::placeholder {
    color: #ccc;

}


.buttonStyle {
    background-color: #4869D9;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}


hr{
    display: block;
    margin-top: 20px;
    overflow: visible;
    text-align: center;
    font-size: 24px;
    border: 1px solid;
    color: #333;
}

hr::after {
    background: #fff;
    content: "or";
    
    position: relative;
    top: -20px;
    left: -10px;
}

.createButton{
    background-color: #F2F2F2;
    width: 100%;
    margin-top: 20px;
    height: 40px;
    border-radius: 5px;
}