
.bg-gradient{
    border-radius: 12px;
    height: 150px;
    background-image: linear-gradient(#4869D9,#fff);
}

.img-user{
    width: 150px;
    height: 150px;
    border: 5px solid;
    border-color: #f2f2f2;
    margin-top: -75px;
}

.colors-blue{
    background-color: #4869D9;

}

.category:hover{
    background-color: #3B57B3;
    scale: 105%;
}