@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Prompt&display=swap');

*{
    font-family: 'Poppins' ;
}

.iconHome-button {
    background-repeat: no-repeat;
    background-position: center;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Vertically center items */
}

/* Adjust padding for the profile button */
.iconHome-button img {
    margin-bottom: 5px; /* Adjust this value as needed for vertical alignment */
}
.menu{
    line-height: 5px;
}
.underline {

    height: 5px;
    width: 50px;
    background-color: #4869D9;
    border-radius: 5px;
    margin-top: 7px;



}


.logo{
    width: 150px;
    height: auto;
}

body {
    background-color: #E5F0FF;
}


#icon{
    width: 36px;
    height: 36px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.navigationUnderline{
    &::after{
            content:"";
            float:left;
            background:#4869D9;
            width:100%;
            height:6px;
            border-radius: 3px;

    }
}

.search{
    width: 500px;
    height: 40px;
    background: url('../images/Search.png');
    background-position: 7px 7px;
    background-repeat: no-repeat;
    padding-left:30px;
}

#match_underline_Home{
margin-top: 7px;
display: inline-block;
border-radius: 5px;
text-decoration-line: underline;
width: 50px;
height: 7px;
}
#match_underline_Notification{
    margin-top: 7px;
    display: inline-block;
    border-radius: 5px;
    text-decoration-line: underline;
    width: 100px;
    height: 7px;
}
#match_underline_Profile{
    margin-top: 5px;
display: inline-block;
border-radius: 5px;
text-decoration-line: underline;
width: 30px;
height: 7px;
}

.input-search{
    background-color: #F5F5F5;
    border: none;
    border-radius: 7px;
}
body {
    background-color: #e5f0ff;
}

.block {
    display: flex;
    gap: 20px;
}

.menu {
    background-color: #fff;
    color: #4869D9;
    width: 250px;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #4869D9;
    font-weight: bold;
    display: block;
    padding: 5px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.menu ul li a:hover {
    background-color: #4869D9;
    color: #fff;
}


.menu ul li a:not(.active) {
    color: #4869D9;
}



.menu ul li a .material-symbols-outlined {
    margin-right: 10px;
    /* ระยะห่างระหว่างไอคอนและข้อความ */
}

.content {
    display: inline;
    width: 1000px;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
}
a p {
    margin: 0.55em;
}
a span{
    float:left;
}
